<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Age:</b>
  <%=h @user.age %>
</p>

<p>
  <b>Title:</b>
  <%=h @user.todo.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @user.todo.body %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
